common --enable_bzlmod
common --lockfile_mode=error
common --platforms=@zig_sdk//libc_aware/platform:linux_amd64_musl
common --host_platform=@zig_sdk//libc_aware/platform:linux_amd64_musl
test --test_output=errors

build:kernel_preflight --compilation_mode=opt
build:kernel_preflight --noexperimental_use_hermetic_linux_sandbox
build:kernel_preflight --spawn_strategy=linux-sandbox
test:kernel_preflight --test_strategy=exclusive
test:kernel_preflight --test_output=all
test:kernel_preflight --cache_test_results=no

try-import %workspace%/.bazelrc.user
