common --enable_bzlmod
common --lockfile_mode=error
build --disk_cache=%workspace%/.cache/bazel-disk
test --test_output=errors

try-import %workspace%/.bazelrc.ci
try-import %workspace%/.bazelrc.user
